<form>
    <div class="input-group mb-3">
        <input 
            type="text" 
            name="inputTodo"
            placeHolder="Enter todo ..."
            class="form-control"
            [(ngModel)]='inputTodo'
        />
        <input 
            type="submit" 
            class="btn btn-primary"
            value="Add Todo"
            (click)="addTodo()"
        />
    </div>
</form>